@font-face {
    font-family: "PoppinsBlackItalic";
    src: local(Poppins), url(../assets/Fonts/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: "PoppinsMedium";
    src: local(Poppins), url(../assets/Fonts/Poppins-Regular.ttf);
}