@import "./fonts.css";

html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body{
    padding: 0%;
    margin-top:0%;
    margin: 0%;
    font-family: "PoppinsMedium";
    background-color: #B6AFFC;
}

h1 {
    font-size: 50px;
    font-family: "PoppinsBlackItalic", Arial, sans-serif;
}


/* -------------------------- Topo -------------------------- */
.img-shrek {
    width: 10% !important;
}

#topo{
    background: linear-gradient(180deg,#B3ABFC 0%, 1%, #E3E0FF 60%, #fec4ba 100%);
    /* background-color: linear-gradient(0deg, #B3ABFC 0%, rgba(255, 255, 255, 0) 100%); */
}

#topo h2{
    width: 488px;
    height: 177px;
    margin-left: 177px;
    margin-top: 10%;
    font-size: 70px;
    font-family: "PoppinsBold";
    line-height: 105px;
    color: #211C70;
}

#topo p{
    width: 408px;
    margin-left: 193px;
    margin-top: 61px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #211C70;
}

.topo-nav{
    display: flex;
    flex-direction: row;
    padding-top: 75px;
    margin-left: 13%;
    margin-bottom: 0%;
    color:rgba(107, 103, 170, 1);
}


.topo-nav ul li {
    display:inline-block;
    margin-right: 75px;
}

.topo-nav ul li a {
    color: #6B67AA;
    font-size: 30px;
    line-height: 45px;
    text-decoration: none;  
}

#entrar {
    width: 416px;
    height: 92px;
    margin-left: 147px;
    margin-top: 8.5%;
    margin-bottom: 50px;
    font-weight: 700;
    background-color: #9D9CF1;
    font-size: 35px;
    color: #FFFFFF;
    border-color: transparent;    
}

#entrar a {
    text-decoration: none;
    color: #FFFFFF;
}

#entrar:visited {
    color: #FFFFFF;
}

#entrar:hover {
    border-color: blue;
}


.figuras {
    margin-left: 10%;
    margin-top: 0%;
    border: 2px solid transparent;
}

.topo-img-retangulo{
    float:right;
    margin-right: 25%;
    margin-top: 4%;
}

.topo-img-bola-esq{
    margin-left: 3%;
    margin-top: 27%;
    position: absolute;
}

.topo-img-monitor {
    position: absolute;
    margin-left: 35%;
    margin-top: 9%;
}

.topo-img-mulher {
    position: absolute;
    margin-left: 23%;
    margin-top: 1%;
}

.topo-img-bola-meio-inferior {
    position: absolute;
    margin-left: 32%;
    margin-top: 38%;
}

.topo-img-grafico-inferior {
    position: absolute;
    margin-left: 65%;
    margin-top: 35%;
}

.topo-img-circulo-meio {
    position: absolute;
    margin-left: 26%;
    margin-top: 18%;
}

.topo-img-circulo-meio-superior {
    position: absolute;
    margin-left: 28%;
    margin-top: 1%;
}

.topo-img-circulo-dir-superior {
    position: absolute;
    margin-left: 50%;
    margin-top: 6%;
}

.topo-img-grafico-superior {
    position: absolute;
    margin-left: 58%;
    margin-top: 5%;
}

.topo-img-bola-dir-superior {
    position: absolute;
    margin-left: 65%;
    margin-top: 2%;
}
/* -------------------------- Experiência -------------------------- */

#experiencia {
    background-color: #ADDADB;
    height: 943px;
    left: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#experiencia h2{
    color: #211C70;
    margin-top: 73px;
    font-size: 70px;
    line-height: 105px;
    margin-left: 123px;
    /* border: 2px solid black; */
}

.container-cards{
    display:flex;
    flex-direction: row;
    /* border: 2px solid black; */
}
.container-cards div { 
    background: #8F8EDB;
}

.container-cards div p {
    color: #E5E5E5;
    font-size: 25px;
    line-height: 37px;
    text-align: justify;
}

.container-cards div:nth-child(1){
    width: 456px;
    height: 539px;
    margin-left: 123px;
}

.container-cards div:nth-child(1) img{
    margin-top: 44px;
    margin-left: 49px;
    margin-right: 64px;
    /* border: 2px solid black; */
}

.container-cards div:nth-child(1) p{
    width: 317px;
    height: 102px;
    margin-left: 40px;
    margin-top: 0px;
    /* border: 2px solid black; */
}


.container-cards div:nth-child(2){
    position: absolute;
    width: 456px;
    height: 539px;
    margin-left: 492px;
    margin-top: 79px; 
    background-color: #8080DD;
    /* border: 2px solid black; */
}

.container-cards div:nth-child(2) img{
    margin-left: 65px;
    /* border: 2px solid black; */
}
.container-cards div:nth-child(2) p{
    width: 380px;
    height: 114px;
    margin-left: 40px;
    margin-top: 45px;
    /* border: 2px solid black; */
}


.container-cards div:nth-child(3){
    width: 456px;
    height: 539px;
    margin-left: 300px;
    margin-right: 123px;
}

.container-cards div:nth-child(3) img{
    padding-left: 83.6px;
}

.container-cards div:nth-child(3) p{
    margin-left: 90px;
    width: 350px;
    height: 80px;
    text-align:justify;
}


/* -------------------------- Funcionalidades -------------------------- */

#funcionalidades {
    background: linear-gradient(white 0% 40%, #B3ABFC 100%);
    height: 100%;
    width: 100%;
}

#funcionalidades h2 {
    width: 593px;
    height: 105px;
    font-weight: 600;
    line-height: 105px;
    margin-left: 13%;
    font-size: 70px;
    margin-top: 135px;
    color:rgba(107, 103, 170, 1);
}

#funcionalidades .container-p-func{
    float:right;
    display: flex;
    flex-direction: column;
    margin-right: 12%;
    width: 45%;
}

#funcionalidades .container-p-func p {
    float:right;
    color:rgba(107, 103, 170, 1);
    font-size: 35px;
    text-align: justify;
}

#funcionalidades .container-p-func div {
    background-color:rgba(166, 144, 252, 0.45);
    border-radius: 50px;
    width: 625px;
    height: 151px;
    padding: 1%;
}


#funcionalidades .container-p-func2 {
    margin-top: 5%;
    margin-left: 10%;   
}

#funcionalidades .container-p-func3 {
    margin-right: 15%;
    margin-top: 5%;
}

#funcionalidades .container-p-func3 p{
    font-size: 30px;
}

.container-imagens-func {
    display: flex;
    flex-direction: column;
}

.container-imagens-func1 {
    width: 50%;
    margin-top: 204px;
    margin-left: 22%;
}

.container-imagens-func2 {
    width: 50%;
    position: absolute;
    margin-left: 20%;
    margin-top: 51px;
}


/* -------------------------- Rodapé -------------------------- */
.rodape {
    width: 100%;
    background-color: #B6AFFC;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 6%;
    font-size: 20px;
}

.container-imagem-logo {
    margin-right: 18%;
    position:absolute;
    margin-left: 71%;
}


.container-rodape-nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 27%;
}

.container-rodape-nav ul li {
    display:inline-block;
    margin-right: 30px;
}


.container-rodape-nav ul li a{
    line-height: 45px;
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
}
